// Place all the styles related to the kittens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.name {
    width: 7%;
    p {
        margin: 0;
    }
}

.links {
    margin-left: 2rem;
    a {
        margin-right: 1rem;
    }
}